body {
  padding-top: 60px;
}

/* NAVBAR */

.navbar {
  border-bottom: solid 1px white;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #666666;
}

#logo-n {
  background: url('../images/logo.png') no-repeat;
  width: 60px;
  height: 60px; 
}

.glyphicon-search {
  font-size: 1.5em;
}

.glyphicon-map-marker {
  font-size: 2em;
}

.navbar-right {
  margin: 0px;
  text-transform: none;
  font-weight: 400;
  font-size: 1.1em;
  height: 50px;
}

.navbar-right li a {
  height: 60px;
  border-left: 1px solid #333333;
}

#first {
  width: 175px;
}

#first img {
  float: left;
}

#subscribe {
  color: yellow;
}

#subscribe, #subscribe2 {
  text-align: center;
}

/* MAIN SECTION */

.no-gutter > [class*='col-'] {
  padding-left:0;
}

#main1 {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

#main1 img {
  border-bottom: 3px solid red;
}

.section a {
  color: #FF0500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 20px 0 0 0;
}

.main-article a {
  color: #181818;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 0 40px;
}

.caption .text {
  color: #181818;
  font-family: "times new roman";
  display: block;
  text-align: center;
  font-size: 2em;
  padding: 0 40px;
}

.second-article a {
  color: #181818;
  font-size: 24px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 0 40px;
}

.main2 .caption .text {
  color: #181818;
  font-family: "times new roman";
  display: block;
  text-align: center;
  font-size: 1.3em;
  padding: 0 20px;
}

/* LATEST HEADLINES */

.latest {
  font-family: serif;
  color: #FF0500;
  font-size: 18px;
  text-transform: uppercase;
  padding: 25px;
}

.lat-headlines li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #E5E5E5;
}

.lat-headlines li span {
  font-size: 10px;
  color: red;
}

.lat-headlines li a {
  color: #181818;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  padding: 0 10px;
}

.more-headlines {
  background: #E5E5E5;
  color: #666666;
  text-align: center;
  padding: 25px 0;
  font-size: 14px;
  font-weight: bold;
}

/* 4 columns section */

.news3 {
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5; 
  padding: 10px;
}

/* in the magazine */

.block-title {
  font: 18px/22px serif;
  letter-spacing: 0.25px;
  color: #FF0500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #E5E5E5;
  position: relative;
}

.block-title span.deco {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FF0500;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;  
}

.block-title span.text {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 0 20px;
  position: relative;
}

.images-row img {
  padding: 5px;
  height: 200px;
}

/* big image section */

.big-image {
  background: #282828;
  padding: 25px 0;
}

.b-title {
  color: #00B7FF;
  font-size: 16px;
  text-align: center;
}

.b-button {
  padding: 15px 10px;
  background: #00B7FF;
  width: 160px;
  margin: 0 auto;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.b-button:hover {
  color: #E5E5E5;
}

.b-subtitle {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 10px;
  text-align: center;
}

.b-subtitle span {
  font-size: 10px;
  color: #00B7FF;
}

.b-caption {
  color: #999999;
  width: 160px;
  text-align: left;
  margin: 0 auto;
}

.b-photos {
  color: #FFFFFF;
  letter-spacing: 1.5px;
  text-transform: uppercase;  
  text-align: center;
  font-size: 13px;
  margin: 10px auto;
}

/* FOOTER */

footer {
  margin-top: 100px;
  border-top: 3px solid red;
  background: #282828;
}

footer ul {
  padding: 35px 0 350px 0;
}

footer li {
  list-style-type: none;
}

footer li a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  padding: 0 10px;
}

footer li a:hover {
  color: #FFFFFF;
}

.f-menu {
  border-right: 1px solid #333333;
}

.recent {
  font-family: serif;
  color: #FFFFFF;
  font-size: 28px;
  letter-spacing: -0.5px;
  padding: 15px 30px;
}

.issue-date {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  padding: 10px;
}

.issue-date:hover {
  text-decoration: underline;
}

.issue-date span {
  color: red;
  font-size: 11px;
}

.issue-text {
  padding: 7px 15px 8px 25px;
}

.issue-text a {
  color: #666666;
}

.archive {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  width: 220px;
  padding: 15px 25px;
  margin-left: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* media queries */

@media only screen and (max-width: 1199px) {
  /* main section */
  .main2 {
    width: 98%;
    padding: 15px;
  }
  
  #main1 .caption .text {
    color: #181818;
    font-family: "times new roman";
    display: block;
    text-align: center;
    font-size: 1.3em;
    padding: 0 20px;
  }
  
  .main-article a {
    font-size: 24px;
  }
}
